@import url('https://fonts.googleapis.com/css2? family= Montserrat:ital,wght@0,400;0,500;0,700;1,100;1,200;1,300;1,500;1,600;1,700;1,900 & display= intercambio');

body {
    font-family:'Montserrat', sans-serif;
    ;
}

.card {
    transition: 400ms;
}

.card:hover {
    box-shadow: 0px 0px 10px #000;
    scale: 1.01;
}
