@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,100;1,200;1,300;1,500;1,600;1,700;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.marquee {
    height: 25px;
    background-color: #000;
    color: #fff;
    font-weight: 500;
}

.spanMarquee {
    color: #ffff00;
}

.botn__whatsapp {
    background-color: #17cb3e;
    bottom: 35px;
    right: 35px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    text-align: center;
    position: fixed;
    font-size: 30px;
    color: #ffffff;
    box-shadow: 0px 0px 5px #050709;
    transition: 300ms;
}

.botn__whatsapp:hover {
    color: #17cb3e;
    background-color: #ffffff;
    transform: scale(1.1);
}

/* CONTACTO */

.containerName {
    position: relative;
}

.inputName {
    width: auto;
    color: #000;
    font-size: inherit;
    font-family: inherit;
    /* background-color: hsl(236, 32%, 26%); */
    padding: 0.35em 0.45em;
    border: 1px solid transparent;
    transition: background-color 0.3s ease-in-out;
}

.inputName:focus {
    outline: none;
}

.inputName::placeholder {
    color: #626262b3;
}

span {
    position: absolute;
    background-color: #0d6efd;
    transition: transform 0.5s ease;
}

.bottom,
.top {
    height: 1px;
    left: 0;
    right: 0;
    transform: scaleX(0);
}

.left,
.right {
    width: 1px;
    top: 0;
    bottom: 0;
    transform: scaleY(0);
}

.bottom {
    bottom: 0;
    transform-origin: bottom right;
}

.inputName:focus~.bottom {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.right {
    right: 0;
    transform-origin: top right;
}

.inputName:focus~.right {
    transform-origin: bottom right;
    transform: scaleY(1);
}

.top {
    top: 0;
    transform-origin: top left;
}

.inputName:focus~.top {
    transform-origin: top right;
    transform: scaleX(1);
}

.left {
    left: 0;
    transform-origin: bottom left;
}

.inputName:focus~.left {
    transform-origin: top left;
    transform: scaleY(1);
}

/* NAVBAR */



.linkNav {
    position: relative;
}

.linkNav ::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #0d6efd;
    transform-origin: center;
    transform: translate(-50%, 0) scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.linkNav :hover::before {
    transform: translate(-50%, 0) scaleX(1);
}

/* FILTRO  */

.filtro {
    display: none;
    
}

/* FOOTER  */


.iconRed {
    padding-left: 10px;
    color: #fff;
    transition: 400ms;
}

.iconRed:hover {
    transform: scale(1.1);
}
