@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,100;1,200;1,300;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;600;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* SALUDO */

#bienvenida{
    overflow: hidden;
}
    
.saludo{
    width: 100%;
    min-height: 100vh;
    /* background: url('../img/Mujer\ -\ 43606.mp4'); */
    /* background-color: red; */
}

.text1, .text2 {
    font-family: 'Inconsolata', monospace;
    font-weight: 900;
    font-size: 60px ;
}

/* HEADER  */

.marquee {
    height: 25px;
    background-color: #000;
    color: #fff;
    font-weight: 500;
}

.spanMarquee {
    color: #ffff00;
}


.botn__whatsapp {
    background-color: #17cb3e;
    bottom: 35px;
    right: 35px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    text-align: center;
    position: fixed;
    font-size: 30px;
    color: #ffffff;
    box-shadow: 0px 0px 5px #050709;
    transition: 300ms;
}

.botn__whatsapp:hover {
    color: #17cb3e;
    background-color: #ffffff;
    transform: scale(1.1);
}

/* BOTON AGREGAR AL CARRITO */

.fa-heart-circle-plus {
    transition: 400ms;
}

.fa-heart-circle-plus:hover {
    transform: scale(1.2);
}

.btnProductos {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: #212529;
}

.btnProductos:hover {
    cursor: pointer;
}

.btnProductos::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 4px solid #ffc107;
    transform-origin: center;
    transform: scale(1);
}

.btnProductos:hover::before {
    transition: all 0.75s ease-in-out;
    transform-origin: center;
    transform: scale(1.75);
    opacity: 0;
}

/* BOTON FILTRO X CATEGORIA  */

.dropdown-item:hover {
    background-color: #ffc107;
    color: #fff;
}

.dropdown-item:active {
    background-color: #ffc107;
    color: #fff;
}



/* CONTACTO */

.containerName {
    position: relative;
}

.inputName {
    width: auto;
    color: #000;
    font-size: inherit;
    font-family: inherit;
    /* background-color: hsl(236, 32%, 26%); */
    padding: 0.35em 0.45em;
    border: 1px solid transparent;
    transition: background-color 0.3s ease-in-out;
}

.inputName:focus {
    outline: none;
}

.inputName::placeholder {
    color: #626262b3;
}

span {
    position: absolute;
    background-color: #ffc107;
    transition: transform 0.5s ease;
}

.bottom,
.top {
    height: 1px;
    left: 0;
    right: 0;
    transform: scaleX(0);
}

.left,
.right {
    width: 1px;
    top: 0;
    bottom: 0;
    transform: scaleY(0);
}

.bottom {
    bottom: 0;
    transform-origin: bottom right;
}

.inputName:focus~.bottom {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.right {
    right: 0;
    transform-origin: top right;
}

.inputName:focus~.right {
    transform-origin: bottom right;
    transform: scaleY(1);
}

.top {
    top: 0;
    transform-origin: top left;
}

.inputName:focus~.top {
    transform-origin: top right;
    transform: scaleX(1);
}

.left {
    left: 0;
    transform-origin: bottom left;
}

.inputName:focus~.left {
    transform-origin: top left;
    transform: scaleY(1);
}



/* NAVBAR */

.navbar {
    height: 80px;
    background-color: #bbbbbb1c;
    /* box-shadow: 0px 0px 10px #7d7d7d; */
}

.linkNav {
    position: relative;
}

.linkNav ::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #ffc107;
    transform-origin: center;
    transform: translate(-50%, 0) scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.linkNav :hover::before {
    transform: translate(-50%, 0) scaleX(1);
}

.modal-backdrop {

    z-index: 99;

}

/* MARCAS */

.marcas {
    transition: 400ms;
}

.marcas:hover {
    transform: scale(1.1);
}

/* FILTRO  */

.filtro {
    display: none;

}

/* FOOTER  */

.pFooter {
    font-size: 14px;
    color: #7d7d7d;
    transition: 400ms;
}

.pFooter:hover {
    color: #fff;
}

.maps {
    color: #7d7d7d;
    transition: 400ms;
}

.maps:hover {
    color: #fff;
}

.iconRed {
    padding-left: 10px;
    color: #7d7a7a;
    transition: 400ms;
}

.iconRed:hover {
    transform: scale(1.1);
    color: #fff;
}

.redes a {
    padding: 0px 5px;
}

/* DESTACADO */

.destacado {
    height: 400px;
    text-align: center;
    background-image: url('../img/luzdest.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    text-shadow: 0px 0px 5px #7d7d7d;
}

.btnDest {
    margin-top: 210px;
}

.containerDestacado {
    background: rgb(0, 0, 0);
    background: linear-gradient(270deg, rgba(0, 0, 0, 1) 0%, rgba(18, 95, 153, 0) 0%, rgba(0, 0, 0, 1) 100%);
    box-shadow: 0px 0px 5px #000;
}